.header-image {
  height: 540px;
  background-image: url('/images/oyodo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.main-header {
  h1 {
    color: white;
    small {
      color: lightgrey;
    }
  }
}

.input-group-addon.btn-primary {
  color: #fff !important;
  background-color: #40aae7 !important;
  border-color: #29a0e4 !important;
}

.input-group-addon.btn-primary:hover {
  color: #fff !important;
  background-color: #1b94d9 !important;
  border-color: #177eb9 !important;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
}

.well {
  background-color: #D0DEE3;
  border-color: #ADD8E6;
  // border-color: #8AADB8;
}

.pitch-points {
  margin-top: 50px;
  height: 240px;

  .col-md-4 {
    padding-bottom: 20px;
  }
  .col-md-4:last-child {
    padding-bottom: 100px;
  }
}

.icon-point {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: lightblue;
  border: 3px solid lightblue;
}
